@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    /* HomePage */
    .text-outline {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    /* Fade for background images */
    .mask-fade {
        mask-image: linear-gradient(0deg,#0000,#000);
    }

	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 3px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size .5s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#6c61ea, #6c61ea)
	}

	.link-underline:hover {
		background-size: 100% 3px;
		background-position: 0 100%
	}

    .tooltip {
        @apply invisible absolute;
    }

    .has-tooltip:hover .tooltip {
        @apply visible z-50;
    }
}

html {
    scroll-behavior: smooth;
}
